 @font-face {
    font-family: lchairline;
    src: url(lchairline.ttf);
 }


:root {
    --primary-font: lchairline;
    --dark: #333;
 }
 
 * { box-sizing: border-box; } 
 
 html {
    background: gray;
    font-family: var(--primary-font);
    font-size: 62.5%;
    height: 100%;
 }
 
 body {
     display: grid;
    background-color:bisque;
    font-size: 16px;
    min-height: 100%;
 }

 .header-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2rem;
}

.h1 {
    font-size: 10rem;
}

.h2 {
    font-size: 8rem;
}

.h3 {
    font-size: 5rem;
    font-weight: 30;
    line-height: 7rem;
    align-self: flex-end;
}

.container {
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem; 
    justify-content: center;
}

.container1 {
    background-color: gold;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 3rem;
    margin-bottom: 1rem;
    flex-direction: column;
}

.audio {
   display: flex;
   width: 2rem;
   align-self: center;
}

.wrapper {
    background-color: coral; 
    align-self: flex-start;
    justify-content: center;
    align-content: center;
    border-radius: 1rem;
    margin: 3rem;
}

img {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
}


 
